
        <div id="content">
            <h3 align = "center">Add Post</h3>
            <form action="index.php" method="post" enctype="multipart/form-data">
                <input type="hidden" name="section" value="blog">
                <input type="hidden" name="action" value="add">
                
                <label for="title">Post Title:</label>
                <input type="text" id="title" name="title" required>

                <label for="content">Post Content:</label>
                <textarea type="text" id="content" name="content" rows="20" required></textarea>

                <label for="author">Author:</label>
                <input type="text" id="author" name="author" required>

                <label for="date">Post Date:</label>
                <input type="date" id="date" name="date" required>

                <label for="categories">Categories</label>
                <input type="text" id="categories" name="categories" required>

                <label for="image">choose your image</label>
                <input type="file" id="image" name="image" accept="image/*" required>

                <button type="submit">Add Post</button>
            </form>
        </div>