<div class="main-content">
  <h3>Top 10 hits of this week!</h3>
  <div>
    <ul style="margin: auto 100px;">
      <li>
        <a href="#">
          Song Name: Tumi ar nei sei tumi <br>
          Artist: Krishna lal
        </a>
        <audio src="" controls></audio>
      </li>
      <li>
        <a href="#">
          Song Name: Tumi ar nei sei tumi <br>
          Artist: Krishna lal
        </a>
        <audio src="" controls></audio>
      </li>
      <li>
        <a href="#">
          Song Name: Tumi ar nei sei tumi <br>
          Artist: Krishna lal
        </a>
        <audio src="" controls></audio>
      </li>
    </ul><br>
    <button>Show More</button>
  </div><br>

  <!-- Video Display -->

  <h3>Top 3 Arrivals of New Music Video!</h3>
  <ul style="margin: auto 50px;">
    <li>
      <video width="350" height="150" src="" controls></video>
      Song Name: Hare Krishna <br>
      Artist: Mozammel Khandakar
    </li>
    <li>
      <video width="350" height="150" src="" controls></video>
      Song Name: Hare Krishna <br>
      Artist: Mozammel Khandakar
    </li>
    <li>
      <video width="350" height="150" src="" controls></video>
      Song Name: Hare Krishna <br>
      Artist: Mozammel Khandakar
    </li>
  </ul>

  <!-- Post Section -->

  <h3>Hot New Topic!</h3>
  <ul style="margin: auto 50px;">
    <li>
      <img src="resorces/images/image1.jpg" width="100" height="100" alt="">
      <h4>Hello Dhaka</h4>
      <p>Lorem Ipsum text text hello why here is new uploadr, Lorem Ipsum text text hello why here is new uploadr. Lorem Ipsum text text hello why here is new uploadr [..<a href="#">Continue Reading</a>..]</p>
    </li>
    <li>
      <img src="resorces/images/image1.jpg" width="100" height="100" alt="">
      <h4>Hello Dhaka</h4>
      <p>Lorem Ipsum text text hello why here is new uploadr, Lorem Ipsum text text hello why here is new uploadr. Lorem Ipsum text text hello why here is new uploadr [..<a href="#">Continue Reading</a>..]</p>
    </li>
    <li>
      <img src="resorces/images/image1.jpg" width="100" height="100" alt="">
      <h4>Hello Dhaka</h4>
      <p>Lorem Ipsum text text hello why here is new uploadr, Lorem Ipsum text text hello why here is new uploadr. Lorem Ipsum text text hello why here is new uploadr [..<a href="#">Continue Reading</a>..]</p>
    </li>
  </ul>

  <h1>
    <?php echo $pageObj->title; ?>
  </h1>
  <p>
    <?php echo $pageObj->content; ?>
  </p>
  <img src="<?php echo $pageObj->image;  ?>" alt="">
</div>
